::-webkit-scrollbar {
    display: none;
}
body,
html {
    overflow: hidden;
}

nav {
    background-color: lightgray;
}

.container {
    margin: 0;
    width: 100%;
}

.channels {
    border-right: 3px solid black;
    padding: 0px;
    background-color: darkgray;
    height: 95vh;
    overflow-y: scroll;
    >.header {
        position: sticky;
        top: 0;
        left: 0;
        padding: 6px 12px;
        background-color: gray;
    }

    >.channel-select {
        padding: 6px 12px;
    }
}
.discussion{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.text-box{
    position: sticky;
    bottom: 10px;
    width: 100%;
    padding: 5px 15px;
    border-radius: 25px;
}
.text-box:focus{
    outline: none;
}
#messages{
    padding: 20px 15px;
}
