::-webkit-scrollbar {
    display: none;
}
body,
html {
    overflow: hidden;
}

nav {
    background-color: lightgray;
}
.navbar-modified{
    display: flex!important;
    justify-content: flex-end;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

.dropdown-toggle{
    margin-right: 150px;
}
@media screen and (max-width: 768px) {
    .dropdown-toggle{
        margin-right: 6px;
    }
    
}
.hamburger{
    display: none;
    position: fixed;
    right:0;
    top: 16px;
    margin-right: 10px; 
    margin-left: 10px; 
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger-buttons{
    display: flex;
}
@media screen and (max-width: 572px) {
    .hamburger{
        display: inline;
    }
    #hamburger-buttons{
        display: none;
    }
    
}
@media screen and (min-width: 573px) {
    nav {
        height: 61px!important;
    }
    .hamburger{
        display: none;
    }
    #hamburger-buttons{
        display: flex!important;
    }
    
}
#close-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 1; /* Ensure the overlay is above other elements */
}

.dropdown-menu{
    margin-top: 10px;
    width: 350px;
}

.pinned-text{
    margin-left: 5px;
}

.container {
    margin: 0;
    width: 100%;
}
#arrow{
    padding: 5px;
    transition: all 0.1s ease-in-out;
}
#arrow:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#open-channels-users{
    display: none;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 15%;
    height: 95vh;
    z-index: 1000;
}
@media screen and (max-width: 500px) {
    #open-channels-users{
        display: flex;
    }
    .channels-users{
        /* display: none; */
        transform: translateX(-150%);
        width: 85%;
    }
    .discussion{
        width: 85%;
        right: 0!important;
        position: fixed!important   ;
    }
    .text-box
    {
        width: 80%!important;
    }
    
}
@media screen and (min-width: 501px) {
    .channels-users{
        transform: translateX(0%)!important;
        /* width: 15%; */
    }
}

.channels-users {
    padding: 0px;
    /* background-color: darkgray; */
    height: 95vh;
    color: white;
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
    /* overflow-y: scroll; */
    >.header {
        position: sticky;
        top: 0;
        left: 0;
        padding: 10px 18px;
        /* background-color: gray; */
        
        >.new-channel-btn {
            display: inline;
            float: right;
            margin-right: 0px;
            padding: 0px 0px 0px 0px;
            border-radius: 5px;
            transition: background-color 0.1s ease-in-out;
        }
        >.new-channel-btn:hover{
            background-color: #777575;
            cursor: pointer;
        }

    }
}
/* @media screen and (max-width: 500px) {
    .channels-users {
        display: none;
    }
    
} */
#channel-select, #users-select {
    padding: 4px 4px 0px 4px;
    height: 50vh;
    overflow-y: scroll;
}

.channel, .user{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    border-radius: 9px;
    padding: 12px; 
    margin-bottom: 4px;
    margin-right: 1px;
    transition: font-size 0.1s ease-in-out, background-color 0.1s ease-in-out;
    color: #e6e6e6;
}
.channel:hover, .user:hover{
    /* background-color: #777575!important; */
    cursor: pointer;
    color: #ffffff;
}

.add-icon{
    color: #e6e6e6;
    font-size: large;
    transform: scale(1.6);
    transition: all 0.1s ease-in-out;
}
.add-icon:hover{
    cursor: pointer;
    color: #ffffff;
    margin: 0;
    transform: scale(1.7);
}   
.channel .settings-icon{
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}
.channel:hover .settings-icon{
    visibility: visible;
}
.user .settings-icon{
    visibility: hidden;
    transition: all 0.1s ease-in-out;
}
.user:hover .settings-icon{
    visibility: visible;
}
.settings-icon{
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 5px;
    transform: scale(1.3);
}
.settings-icon:hover{
    cursor: pointer;
    transform: scale(1.6);
}    

.discussion{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}
.text-box{
    position: fixed;
    bottom: 0;
    width: 82%;
    padding: 10px 15px;
    border-radius: 25px;
    margin-bottom:10px ;
    z-index: 99;
}
/* #region responsive text box */
@media  screen and (max-width: 991px) {
    .text-box{
        width: 73%;
    }
    
}
@media  screen and (max-width: 767px) {
    .text-box{
        width: 64%;
    }
    
}
/* #endregion */
.text-box:focus{
    outline: none;
}
.text-box-background{
    position: fixed;
    bottom: 0;
    z-index: 98;
    background-color: white;
    width: 82%;
    height: 62px;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #e60000;
    border-color: #e60000;
}

#messages{
    padding: 20px 15px 75px 15px;
    height: 95vh;
    overflow-y: scroll;
}
/* #region responsive messages window */
@media screen and (min-height: 200px) {
    #messages {
        padding-bottom: 110px;
    }
}
@media screen and (min-height: 300px) {
    #messages {
        padding-bottom: 105px;
    }
}
@media screen and (min-height: 400px) {
    #messages {
        padding-bottom: 100px;
    }
}
@media screen and (min-height: 500px) {
    #messages {
        padding-bottom: 95px;
    }
}
@media screen and (min-height: 600px) {
    #messages {
        padding-bottom: 90px;
    }
}
@media screen and (min-height: 700px) {
    #messages {
        padding-bottom: 85px;
    }
}
@media screen and (min-height: 800px) {
    #messages {
        padding-bottom: 80px;
    }
}
@media screen and (min-height: 900px) {
    #messages {
        padding-bottom: 75px;
    }
}
/* #endregion */
.message{
    position: relative;
    padding: 10px;
    border-radius: 10px ;
    transition: all 0.1s ease-in-out;
}
.message:hover{
    background-color: #f2f2f2;
    transform: scale(1.005);
    cursor: default;
}
.username{
    display: inline-block;
    margin-right: 5px;
    cursor: default;
}
.datetime{
    display: inline-block;
    font-size: 10px;
    color: gray;
    cursor: default;
}

.pin {
    filter: invert(11%) sepia(94%) saturate(6687%) hue-rotate(9deg) brightness(90%) contrast(117%);
}

.unpin {
    filter: invert(55%) sepia(2%) saturate(20%) hue-rotate(34deg) brightness(99%) contrast(95%);
}

.message .pin-icon{
    visibility: hidden;
    /* transition: visibility 0.1s ease-in-out; */
}
.message:hover .pin-icon{
    visibility: visible;
}
.pin-icon{
    float: inline-end;
    border-radius: 5px;
    padding:3px;
    margin: 3px;
    z-index: 100;
    transform: scale(1.5);
    transition: all 0.1s ease-in-out;
    margin-right: 10px;
}
.pin-icon:hover{
    transform: scale(1.8);
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#pinned-mark{
    display: none;
    float:inline-end;
    padding: 1px 6px;
    background: #d9d9d9;
    border-radius: 5px;
    margin-right: 10px;
}
#create-new-window{
    display: none;
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    vertical-align: auto;
    top: 30%;
    left: 30%;
    width: 60%;
    height: 40vh;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
    z-index: 100;

    > #create-new-header{
        font-size: 24px;
    }
    > #enter-below{
        padding: 20px;
    }
}
