html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

.form-title {
    margin-top: 15%;
    margin-bottom: 25px;
}

.form-buttons {
    margin-top: 5px;
}

.field {
    margin-top: 6px;
    margin-bottom: 2px;
}

.box {
    margin-top: 100px;
    margin-bottom: 100px;
}

.padding {
    margin-top: 15px;
    margin-bottom: 15px;
}

.small-top-padding {
    margin-top: 10px;
}

.small-bottom-padding {
    margin-bottom: 10px;
}

.top-padding {
    margin-top: 15px;
}

.bottom-padding {
    margin-bottom: 15px;
}

.banner {
    height: 61px;
    vertical-align: middle;
}

.leaveboard-btn {
    color: #f2f2f2;
    background-color: #cc0000;
    border-color: #cc0000;
}

.leaveboard-btn:hover {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.logout-btn {
    color: #f2f2f2;
    background-color: #cc0000;
    border-color: #cc0000;
}

.logout-btn:hover {
    color: #ffffff;
    background-color: #b30000;
    border-color: #b30000;
}

.boards-link {
    text-decoration: none;
    color: #e6e6e6;
    cursor: pointer;
}

.boards-link:hover {
    text-decoration: none;
    color: #ffffff;
    transform: scale(1.02);
    cursor: pointer;
}

.subscribe-btn {
    color: #2eb82e;
    background-color: #ffffff;
    border-color: #2eb82e;
}

.subscribe-btn.on {
    color: #ffffff;
    background-color: #2eb82e;
    border-color: #2eb82e;
}

.subscribe-btn:hover {
    color: #ffffff;
    background-color: #29a329;
    border-color: #29a329;
}

.cancel-btn {
    color: #e60000;
    background-color: #ffffff;
    border-color: #e60000;
}

.cancel-btn.on {
    color: #ffffff;
    background-color: #e60000;
    border-color: #e60000;
}

.cancel-btn:hover {
    color: #ffffff;
    background-color: #cc0000;
    border-color: #cc0000;
}

.pin {
    filter: invert(11%) sepia(94%) saturate(6687%) hue-rotate(9deg) brightness(90%) contrast(117%);
}

.unpin {
    filter: invert(55%) sepia(2%) saturate(20%) hue-rotate(34deg) brightness(99%) contrast(95%);
}