.btn-primary.create-board {
    margin-top: 10px;
}

.top-padding {
    margin-top: 10px;
}

.home {
    margin-top: 30px;
    margin-bottom: 30px;
}

.welcome {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.empty-dashboard {
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 5px;
}

label {
    margin-bottom: 0.5rem;
}

.board-widget {
    transition: box-shadow .3s;
}

.board-widget:hover {
    color: #0066ff;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}