.btn-primary.create-board {
    margin-top: 10px;
}

.home {
    margin-top: 30px;
    margin-bottom: 30px;
}

.welcome {
    margin-top: 10px;
    margin-bottom: 10px;
}

p.empty-dashboard {
    color: #a6a6a6;
    text-align: center;
    margin-bottom: 5px;
}

label {
    margin-bottom: 0.5rem;
}

.board-widget:hover {
    background-color: #e6f0ff;
    transform: scale(1.02);
}